# Unconditional sampling

inference:
  task: scaffolding
  name: run_scaffolding
  seed: 123
  predict_dir: null
  inference_subdir: run_scaffolding
  output_dir: inference_outputs/

  interpolant:
    min_t: 0.01
    rots:
      corrupt: True
      sample_schedule: exp
      exp_rate: 10
    trans:
      corrupt: True
      sample_schedule: linear
    sampling:
      num_timesteps: 100
    self_condition: True

  ckpt_path: null
  use_gpu: True
  num_gpus: 1
  samples:
    length_subset: [70, 100, 200, 300]
    samples_per_length: 100
    min_length: 50
    max_length: 100
    length_step: 1
    overwrite: False
    csv_path: null
    samples_per_target: 100
    num_batch: 1
    target_subset: null


experiment:
  debug: False
  seed: 123
  num_devices: 1
  warm_start: null
  warm_start_cfg_override: false
  wandb:
    name: ${data.task}_${data.dataset}
    project: se3
    mode: offline #online， offline， disabled
  inference_dir: null
  pretrain_path: null


model:
  node_embed_size: 256
  edge_embed_size: 128
  symmetric: false
  use_gradient_checkpointing: False
  use_deepspeed_evo_attention: False
  node_features:
    c_s: ${model.node_embed_size}
    c_pos_emb: 128
    c_timestep_emb: 128
    c_aatype_emb: 128
    max_num_res: 2000
    timestep_int: 1000
    embed_chain: true
    embed_aatype: true
    n_aatype: 22
  edge_features:
    single_bias_transition_n: 2
    c_s: ${model.node_embed_size}
    c_p: ${model.edge_embed_size}
    relpos_k: 64
    feat_dim: 64
    rel_pos_feat_dim: 64
    num_bins: 22
    self_condition: true
    embed_chain: true
    embed_diffuse_mask: true
    embed_hotspot_mask: true
    embed_aatype: true
  ipa:
    c_s: ${model.node_embed_size}
    c_z: ${model.edge_embed_size}
    c_hidden: 128
    no_heads: 8
    no_qk_points: 8
    no_v_points: 12
    seq_tfmr_num_heads: 4
    seq_tfmr_num_layers: 2
    num_blocks: 6
  pairformer:
    use: true
    c_s: ${model.node_embed_size}
    c_z: ${model.edge_embed_size}
    no_heads: 8
    num_blocks: 4
    c_hidden_pair_att: 16
    no_heads_pair: 4
