data:
  task: binder   # * hallucination, inpaintingï¼Œbinder, binder_motif
  dataset: ppi
  loader:
    num_workers: 4
    prefetch_factor: 10

interpolant:
  min_t: 0.01
  rots:
    corrupt: true
    train_schedule: linear
    sample_schedule: exp
    exp_rate: 10
  trans:
    corrupt: true
    var_scale: 10
    train_schedule: linear
    sample_schedule: linear
  sampling:
    num_timesteps: 100
    do_sde: false
  self_condition: ${model.edge_features.self_condition}
experiment:
  debug: False
  recording_trajectory: last
  novo_embedding_layers: false
  seed: 123
  num_devices: 1
  warm_start: null
  warm_start_cfg_override: false
  wandb:
    name: ${data.task}_${data.dataset}
    project: se3
    save_code: true
    mode: offline
    save_dir: ${experiment.checkpointer.dirpath}/..
    dir: ${experiment.checkpointer.dirpath}/..
  checkpointer:
    dirpath: results/${experiment.wandb.name}/${now:%Y%m%d}/${now:%H_%M_%S}/ckpt
    save_top_k: -1
    mode: max
  pretrain_path: null
  testing_model:
    save_dir: sample_result/${experiment.wandb.name}/${now:%Y%m%d}/${now:%H_%M_%S}/sample_test
    ckpt_path:  null

ppi_dataset:
  seed: 123
  train_csv_path: null
  val_csv_path:  null
  test_csv_path:  null
  define_hotspots: False  #used in sample, if True: use all target interface as hotspots; False: sample 3-len(target_interface)*20% as hotspots # **
  motif:
    define_motif: false #used in sample, if True: use all motif ; False: sample 1~len(motif_list)-1 as motif # **
  cache_num_res: 0

  # Eval parameters
  samples_min_length: 50
  samples_max_length: 100
  samples_per_target: 100
  samples_batch_size: 1
  sample_original_binder_len: False
  sample_pdbname: null

model:
  node_embed_size: 256
  edge_embed_size: 128
  symmetric: false
  use_gradient_checkpointing: False
  use_deepspeed_evo_attention: False
  node_features:
    c_s: ${model.node_embed_size}
    c_pos_emb: 128
    c_timestep_emb: 128
    c_aatype_emb: 128
    max_num_res: 2000
    timestep_int: 1000
    embed_chain: true
    embed_aatype: true
    n_aatype: 22
  edge_features:
    single_bias_transition_n: 2
    c_s: ${model.node_embed_size}
    c_p: ${model.edge_embed_size}
    relpos_k: 64
    feat_dim: 64
    rel_pos_feat_dim: 64
    num_bins: 22
    self_condition: true
    embed_chain: true
    embed_diffuse_mask: true
    embed_hotspot_mask: true
    embed_aatype: true
  ipa:
    c_s: ${model.node_embed_size}
    c_z: ${model.edge_embed_size}
    c_hidden: 128
    no_heads: 8
    no_qk_points: 8
    no_v_points: 12
    seq_tfmr_num_heads: 4
    seq_tfmr_num_layers: 2
    num_blocks: 6
  pairformer:
    use: true
    c_s: ${model.node_embed_size}
    c_z: ${model.edge_embed_size}
    no_heads: 8
    num_blocks: 4
    c_hidden_pair_att: 16
    no_heads_pair: 4
